<h1><%= type %></h1>
<div class="card">
    <div class="container">
        <% if (locals.setup) { %>
            <p class="bold"><%= setup %></p>
            <p><%= delivery %></p>
        <% } %>
        <% if (locals.singlepart) { %>
            <p><%= singlepart %></p>
        <% } %>
        <% if (locals.data) { %>
            <p class="bold"><%= data.city %></p>
            <p>Temperature: <%= data.temp %> °C</p>
            <p>Wind: <%= data.wind.speed %> metre/sec</p>
            <p>Humidity: <%= data.main.humidity %> %</p>
        <% } %>
        <% if (locals.token) { %>
            <p class="bold"><%= token %></p>
            <p>Price $<%= price %></p>
        <% } %>
        <% if (locals.name) { %>
            <p class="bold"><%= name %></p>
            <% } %>
    </div>
</div>
<% if (locals.name) { %>
    <div class="container2">
    <p>Instructions: <%= instructions %></p>
    <img src="<%= img %>" alt="">
    </div>
<% } %>